/* FIXES */
a, a:active, a:focus {
  outline: none;
}
img{
  width: 100%;
}


/* MIXINS */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
@mixin boxShadow($radius, $opacity){
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,$opacity);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,$opacity);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,$opacity);
}


/* CLASSES */
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 5px solid black;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;

	border-left: 5px solid black;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;

	border-right:5px solid black;
}


/* STYLES */
body{
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 2em;
  padding-bottom: 800px;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  img{
    @include center-align;
    width: 10%;
  }
}

header{
    text-align: center;
    .image{
      @include center-align;
      top: 45%;
      width: 50%;
    }
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    text-align: center;

}

.content{
  background: red;
  display: none;
}




nav{

  @include boxShadow( 10 , 0.3 );
  .nav-toggle{
    display: block;
    width :100%;
    height: 100px;
    position: relative;
    div{
      @include center-align;
    }
    background-color: #ffffff;
  }
  a{
    // @media (min-width: 641px){
    //   display: inline-block;
    // }
    display: block;

    text-align: center;
    padding: 2%;
    color: black;
    // background-color: gray;
    color: #000000;
    font-size: 50%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    &:hover{
      background: #000000;
      color: #ffffff;
    }
  }
  padding-bottom: 5%;
  text-align: center;
  // RoboXotic

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-top: 2px solid black;

}

.ember-application {
    margin: 20px;
}

.active{
  // font-weight: bold;
}



#container{
  width: 100%;
  // max-width: 640px;
  // margin: 0 auto;
}


.home{
  text-align: center;
  img{
    width: 50%;
  }
}
.bio{
  text-align: center;
  img{
    width: 50%;
  }
}
