/* Put your CSS here */
nav {
  padding-bottom: 5%;
}
nav a {
  padding: 2%;
  color: black;
  background-color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

.ember-application {
  margin: 20px;
}

.active {
  font-weight: bold;
}

body {
  background-color: black;
  color: #ffffff;
}

#container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.mpc {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
}
.mpc li {
  text-align: center;
  margin: 0;
  width: 25%;
  display: inline-block;
  margin-right: -4px;
  padding-bottom: 25%;
  position: relative;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.mpc li div {
  top: 2%;
  left: 2%;
  position: absolute;
  width: 96%;
  height: 96%;
  background-color: gray;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.active_pad {
  background-color: red;
}
